{% extends "base.html" %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static "app_login/css/csspp/index.css" %}">
{% endblock extrahead %}
{% block title %}Login{% endblock title %}
{% block body_block %}
    <div class="container-login">
        <div class="row w-75">
            <!-- Left side with welcome message and image -->
            <div class="col-md-6 d-none d-md-flex flex-column login-left">
                <h1>Welcome to website</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

            <!-- Right side with login form -->
            <div class="col-md-6 login-right">
                <h2 class="text-center mb-4">User Login</h2>
                <form>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="email" placeholder="name@example.com">
                        <label for="email">Email address</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="password" placeholder="Password">
                        <label for="password">Password</label>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                        <div>
                            <input type="checkbox" id="remember-me">
                            <label for="remember-me">Remember</label>
                        </div>
                        <a href="#">Forgot password?</a>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-login">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static "app_login/js/jspp/index.js" %}"></script>
{% endblock body_block %}